*{
	margin: 0;
}

.contenedor{
	font-family: Century Gothic;
}

.contenedor .padre1{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 15px;
}

.contenedor .padre1 a{
	text-decoration: none;
	color: black;
}

.contenedor .padre1 .hijo1{
	display: flex;
	gap: 260px;
}

.contenedor .padre1 .menu ul{
	display: flex;
	justify-content: center;
	gap:30px;
	align-items: center;
	list-style: none;
}

.contenedor .padre1 .menu ul a:hover {
  color: #ff7426;
}

.contenedor .padre1 .hijo2 .face,
.contenedor .padre1 .hijo2 .twitter,
.contenedor .padre1 .hijo2 .insta{
    transition: transform .2s; 
}
 
.contenedor .padre1 .hijo2 .face:hover,
.contenedor .padre1 .hijo2 .twitter:hover,
.contenedor .padre1 .hijo2 .insta:hover {
    transform: scale(1.2); 
}

.contenedor .padre1 .hijo2{
	display: flex;
	gap: 40px;
}

.contenedor .padre1 .hijo2 .twitter{
	padding-top: 2px;
}

.contenedor .padre1 .menudes,
.contenedor .desplegable{
	display: none;
}

.contenedor .desplegable{
	position: relative;
    z-index: 1;
    background-color: white;
}

.contenedor .desplegable .x{
	margin-top: -45px;
    margin-left: 90%;
    margin-bottom: 40px;
    width: 30px;
}

.contenedor .desplegable .x img{
	width: 100%;
}

.contenedor .desplegable .menu ul{
	list-style: none;
    text-align: center;
    padding-left: 0;
}

.contenedor .desplegable .menu ul li{
	padding-bottom: 10px;
}

.contenedor .desplegable .menu ul li a{
	text-decoration: none;
    color: black;
}

.contenedor .desplegable .hijo2{
	display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.contenedor .padre2 .parte1{
	display: flex;
	justify-content: space-around;
	padding-bottom: 10%;
    padding-top: 10%;
}

.contenedor .padre2 .parte1 .foto1{
	width: 40%;
}

.contenedor .padre2 .parte1 .foto1 img{
	width: 100%;
	border-radius: 15px;
}

.contenedor .padre2 .parte1 .pasteleria{
	width: 40%;
	margin-top: auto;
    margin-bottom: auto;
}

.contenedor .padre2 .parte2{
	display: flex;
	justify-content: space-around;
	padding-bottom: 10%;
}

.contenedor .padre2 .parte2 .foto2 img{
	width: 100%;
	border-radius: 15px;
}

.contenedor .padre2 .parte2 .foto2{
	width: 40%;
	margin-top: auto;
    margin-bottom: auto;
}

.contenedor .padre2 .parte2 .texto{
	width: 40%;
}

.contenedor .padre3 .arriba{
	display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 15px;
}

.contenedor .padre3 .arriba .izq{
	margin-left: 20px;
}

.contenedor .padre3 .arriba .menu{
	margin-right: 20px;
}

.contenedor .padre3 .arriba .menu ul{
	display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 30px;
}

.contenedor .padre3 .arriba .menu a{
	text-decoration: none;
	color: black;
}

.contenedor .padre3 .derechos{
	text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contenedor .padre3 .arriba .menu a:hover {
  color: #ff7426;
}


@media only screen and (max-width: 400px) {

.contenedor .padre1 .menu ul,
.contenedor .padre1 .hijo2{
	display: none;
}

.contenedor .padre1 .hijo1{
	gap: 200px;
}

.contenedor .padre1 .menudes{
	display: block;
	width: 20px;
}

.contenedor .padre1 .menudes img{
	width: 100%;
}

.contenedor .padre2 .parte1{
	display: block;
	margin-left: 17%;
}

.contenedor .padre2 .parte1 .foto1{
	width: 85%;
	padding-bottom: 20px;
}

.contenedor .padre2 .parte1 .pasteleria{
	width: 80%;
	text-align: center;
}

.contenedor .padre2 .parte2{
	display: block;
	margin-left: 12%;
}

.contenedor .padre2 .parte2 .foto2{
	width: 85%;
}

.contenedor .padre2 .parte2 .texto{
	width: 87%;
	text-align: center;
	padding-bottom: 15%;
}

.contenedor .padre3 .arriba{
	display: block;
}

.contenedor .padre3 .arriba .izq{
	margin-left: 0px;
	text-align: center;
	margin-bottom: 20px;
}

.contenedor .padre3 .arriba .menu{
	margin-right: 0px;
}

.contenedor .padre3 .arriba .menu ul{
	display: block;
    text-align: center;
    padding-left: 0px;
}

.contenedor .padre3 .arriba .menu ul li{
	margin-bottom: 10px;
}


}